<h2>Gezielte Betriebsratsbekämpfung?</h2>

<p>Wir untersuchen, ob die Arbeit von Betriebsräten und gewerkschaftlicher Organisierung ganz gezielt in Betrieben und Konzernen bekämpft wird. Und wenn ja: Wie dies konkret geschieht, und wie die Justiz darauf reagiert. Dabei konzentrieren wir uns auf solche Fälle, die bei Staatsanwaltschaften oder Gerichten aktenkundig geworden sind.</p>

<p>Das Ausfüllen des Fragebogens dauert nur wenige Minuten.</p>

<ul>
<li>Haben Sie erlebt, wie die Gründung eines Betriebsrates in einer Firma behindert wurde?</li>
<li>Haben Sie erfahren, dass ein gewählter Betriebsrat gezielt bekämpft oder Betriebsratswahlen gezielt beeinflusst wurden?</li>
<li>Haben Sie mitbekommen, wie einzelne Gewerkschafter oder Betriebsratsmitglieder gezielt zermürbt wurden?</li>
</ul>

<p>Bislang gibt es keine systematische Erfassung solcher Fälle von Seiten der Behörden, so dass die Problematik in ihrer Tragweite möglicherweise falsch bewertet wird. Deshalb: Machen Sie mit und helfen Sie uns, mehr über Angriffe auf Betriebsräte und Gewerkschaften zu erfahren!</p>


<div class="well">
<p>
  Hinweis zum Datenschutz: Wir werden Ihre Daten nicht an Dritte weiter geben und sie nach höchsten Sicherheitsstandards archivieren.<br/>
  Ihre <strong>Namen werden nicht veröffentlicht</strong>. Die Ergebnisse der Umfrage werden nur <strong>anonymisiert</strong> ausgewertet.
</p>
</div>

<hr id="fragebogen"/>
