<h2>Fragebogen</h2>

<p>Wir wollen untersuchen, ob und wenn ja wie die Arbeit von Betriebsräten und gewerkschaftlicher Organisierung ganz konkret in Betrieben und Konzernen  bekämpft wird.</p>

<p>Da es bislang keine verlässlichen Statistiken darüber gibt, in welchem Ausmaß die Arbeit von Betriebsräten, Gewerkschaftern oder engagierten Beschäftigen in Deutschland behindert wird, ist es uns zunächst wichtig, eine genaue Grundlage zu bekommen. Wir wollen sehen, ob es ein Problem gibt und wenn ja, wie groß es ist.</p>

<p>Aus diesem Grund haben wir eine kleine Umfrage erarbeitet.</p>

<h3>Wir wollen wissen:</h3>
<ul>
<li>Haben Sie erlebt, wie die Gründung eines Betriebsrates in einer Firma behindert wurde?</li>
<li>Haben sie erfahren, dass ein gewählter Betriebsrat gezielt bekämpft oder Betriebsratswahlen gezielt beeinflusst wurden?</li>
<li>Haben Sie mitbekommen, wie  einzelne Gewerkschafter gezielt zermürbt wurden?</li>
</ul>

<p>Um unsere Arbeit durchzuführen, wollen wir uns erst einmal nur auf Verfahren konzentrieren, die auf Basis eines Verstoßes gegen das Betriebsverfassungsgesetzes oder wegen Mobbings und Diskriminierung angezeigt wurden - also bei der Staatsanwaltschaft oder bei Gericht aktenkundig wurden. Wir wissen, dass diese Verfahren oft nicht zu Ende geführt, sondern eingestellt werden. Andere werden durch Vergleich beendet oder die Arbeitnehmer geben einfach auf.</p>

<p>Eines haben alle diese Verfahren gemeinsam. Sie haben ein <em>Aktenzeichen</em> und das macht sie nachvollziehbar. Deswegen sammeln wir genau diese Verfahren.</p>

<p>Machen Sie mit und helfen Sie uns, mehr über Angriffe auf Betriebsräte und Gewerkschaften und die Ursachen dafür zu erfahren.</p>

<p>Das Ausfüllen des Fragebogens dauert nur wenige Minuten.</p>

<p>Eine gemeinsame Recherche von aktion ./. arbeitsunrecht e.V. und CORRECT!V.</p>

<p>Wenn sich Fragen ergeben sollten, erreichen Sie uns unter 0221. 99768522 oder per email: buero@arbeitsunrecht.de</p>

<div class="well">
<p>
  Hinweis zum Datenschutz: Wir werden Ihre Daten nicht an Dritte weiter geben und sie nach höchsten Sicherheitsstandards archivieren.<br/>
  Ihre <strong>Namen werden nicht veröffentlicht</strong>. Die Ergebnisse der Umfrage werden nur <strong>anonymisiert</strong> ausgewertet.
</p>
</div>

<hr id="fragebogen"/>
